@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode {
  background-color: #0c005d;
  color: #f9f9f9;
}
.light-mode {
  background-color: #f9f9f9;
  color: #333;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 5rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.dark-mode .nav {
  background-color: #180f50a5;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.nav-items {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 0.2rem;
  border: none;
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-decoration: none;
  border: none;
  outline: none;
}
.nav-items:hover {
  background-color: #f0f0f0;
}

.nav-items i {
  font-size: 1.7rem;
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
}

.nav-items-plane {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.nav-items-toggle {
  border: none;
  outline: none;
  background-color: transparent;
}

.nav-items-toggle i {
  font-size: 1.7rem;
  color: #000;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.dark-mode .nav-items-toggle i {
  color: #f9f9f9;
}
.logo-contain {
  list-style-type: none;
  border: none;
  outline: none;
  text-decoration: none;
  color: #f9f9f9;
}
.dark-mode .logo-contain {
  color: #333;
}
.logo {
  color: #333;
}
.dark-mode .logo {
  color: #f9f9f9;
}

@media only screen and (max-width: 1028px) {
  .nav {
    padding: 1rem 2rem;
  }
  .nav-items {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .nav-toggle i {
    color: #000;
  }
  .nav-items {
    display: none;
  }
  .nav-items-plane {
    display: none;
  }
  .nav-items i {
    display: none;
  }
  .nav-items span {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s ease;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
}
.dark-mode .sidebar {
  background-color: #0c005d;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #f5f5f5;
  padding: 1.6rem 2rem;
}
.sidebar-header {
  text-decoration: none;
  border: none;
  outline: none;
  color: #333;
}
.dark-mode .sidebar-header {
  color: #f9f9f9;
}
.sidebar-header h2 {
  visibility: hidden !important;
}
.sidebar-header h2 {
  color: #333;
}
.dark-mode .sidebar-header h2 {
  color: #f9f9f9;
}

.sidebar-header i {
  font-size: 1.7rem;
  color: #000;
  cursor: pointer;
}
.dark-mode .sidebar-header i {
  color: #f9f9f9;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 1rem 0;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.sidebar-items {
  text-decoration: none;
  color: #333;
}
.dark-mode .sidebar-items {
  color: #f9f9f9;
}
.sidebar-bottom-items {
  display: flex;
  list-style-type: none;
  padding: 1rem 0;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.link-items {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.7rem;
  color: #007bff;
  cursor: pointer;
}
@media screen and (max-width: 874px) {
  .sidebar {
    width: 100%;
  }

  .sidebar-header h2 {
    visibility: visible !important;
  }
}

.sidebar.active {
  transform: translateX(0);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.sidebar.active {
  animation: slideIn 0.3s forwards;
}

.sidebar {
  &.inactive {
    animation: slideOut 0.3s forwards;
  }
}

// Path: src/components/HomePage.js
.h-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  background: linear-gradient(
    45deg,
    #9099ff,
    #64afffab,
    #df76ff8a,
    #ff63a99f,
    #ffa9a9
  );
  animation: gradient 15s ease infinite;
  -webkit-animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.h-heading {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 500px) {
  .h-heading {
    font-size: 2rem;
  }
}
.h-sub-heading {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 1rem;
  border-bottom: 0.1px solid #333;
  width: 100%;
}
.h-card-container {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-bottom: 1rem;
}
.h-card-contain {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.h-sub-card {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: #eaedef;
  //box-shadow: ;
  cursor: pointer;
  border-radius: 5px;
  gap: 0.3rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 0px 1px 0.5px #999;
}
.dark-mode .h-sub-card {
  background-color: #1d0a9a;
  box-shadow: 0px 0px 1px 0.5px #333;
}
.h-sub-card p {
  font-size: 0.8rem;
}
.cps {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
}
.price-icon-h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-icon-main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.img-t-sub-card {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.img-t-sub-card h4 {
  font-size: 0.9rem;
}

.h-sub-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .h-sub-heading {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .h-card-container {
    width: 95%;
  }
  .h-card-contain {
    gap: 0.5rem;
  }
  .h-sub-card {
    padding: 0.3rem 0.5rem;
    gap: 0.1rem;
  }
  .h-sub-img {
    width: 25px;
    height: 25px;
  }
  .img-t-sub-card {
    gap: 0.3rem;
  }
  .img-t-sub-card h4 {
    font-size: 0.7rem;
  }
  .h-sub-card p {
    font-size: 0.6rem;
  }
}
// Path: src/dialog/DialogOne.js
#dialog-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
}

#dialog-box {
  width: 800px;
  height: 50vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  animation: slideIn 0.3s ease-in-out;
  -webkit-animation: slideIn 0.3s ease-in-out;
}

#dialog-header {
  display: flex;
  width: 100%;
  justify-content: start;
  flex-direction: column;
  align-items: center;
}

#dialog-header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 450;
  width: 100%;
  padding: 0.5rem;
}
#dialog-header img {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
}

#dialog-content form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

#dialog-content form input {
  padding: 1rem 2rem;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #2e70ff;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #fff;
}

#dialog-content form input::placeholder {
  color: #f9f9f9;
}

#dialog-content form button {
  border: none;
  outline: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  background-color: #d334ff;
  padding: 0.8rem;
  border-radius: 50%;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
#dialog-content form button:hover {
  background-color: #db61fd;
}
.search-form button i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.dark-mode #dialog-box {
  background: rgba(4, 0, 71, 0.72);
  box-shadow: 0 4px 30px rgba(0, 72, 255, 0.1);
  border: 1px solid rgba(0, 6, 189, 0.25);
}
@media only screen and (max-width: 856px) {
  #dialog-box {
    width: 100%;
    height: fit-content;
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 500px) {
  #dialog-header h2 {
    font-size: 0.8rem;
  }
  #dialog-header img {
    width: 100px;
    height: 100px;
  }
  #dialog-content form input {
    font-size: 0.9rem;
    padding: 0.7rem 1rem;
  }
  #dialog-content form button i {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}
.setting-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
  z-index: 100;
}
.setting-box {
  width: 800px;
  height: 50vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  animation: slideIn 0.3s ease-in-out;
  -webkit-animation: slideIn 0.3s ease-in-out;
  z-index: 100;
}
.dark-mode .setting-box {
  background: rgba(4, 0, 71, 0.72);
  box-shadow: 0 4px 30px rgba(0, 72, 255, 0.1);
  border: 1px solid rgba(0, 6, 189, 0.25);
}
.s-heading {
  padding: 0.5rem;
  font-size: 1.1rem;
}
.setting-items {
  display: flex;
  justify-content: start;
  flex-direction: column;
  list-style-type: none;
  width: 50%;
  gap: 1rem;
}
.setting-list {
  display: flex;
  padding: 0.5rem 0.2rem;
  justify-content: space-between;
  align-items: center;
}
.setting-list .left-setting {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  text-transform: capitalize;
}
.left-setting i {
  color: #007bff;
  font-size: 1.5rem;
}
.right-setting {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cur-setting {
  appearance: none; /* Remove browser default styling */
  -webkit-appearance: none; /* WebKit browsers */
  -moz-appearance: none; /* Firefox */
  padding: 0.3rem 0.7rem; /* Add your desired padding */
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxu...") no-repeat right
    center; /* Optional custom arrow */
  background-color: #2e70ff;
  color: #f9f9f9;
  background-size: 12px; /* Adjust size of custom arrow */
  border-radius: 4px; /* Optional border-radius */
  border: none;
  outline: none;
}
@media only screen and (max-width: 768px) {
  .s-heading {
    font-size: 0.8rem;
  }
  .setting-box {
    width: fit-content;
    padding: 0.5rem;
    height: fit-content;
  }
  .setting-list {
    gap: 1rem;
  }
  .setting-items {
    width: 100%;
    gap: 0.5rem;
  }
  .left-setting i {
    font-size: 1rem;
  }
  .left-setting {
    gap: 0.2rem;
  }
  .s-t-it {
    font-size: 0.7rem;
  }
  .cur-setting {
    font-size: 0.7rem;
  }
}
// Error ui
.error-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.img-container-rr {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://i.ibb.co/d0w99jL/8775515-4002783.webp);
  width: 300px;
  height: 300px;
  background-size: contain;
}
.error-container h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.error-container p {
  font-size: 1rem;
}
.error-container button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  color: #007bff;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .img-container-rr {
    width: 100px;
    height: 100px;
  }
  .error-container h2 {
    font-size: 0.7rem;
  }
  .error-container p {
    font-size: 0.6rem;
  }
}
.dark-mode .error-container {
  background-color: #0c005d;
  color: #f9f9f9;
}
.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
  width: 100%;
  height: 80vh;
}
.favorite-svg {
  width: 600px;
  height: 500px;
}
.favorites-container h2 {
  font-size: 1.3rem;
  font-weight: 500;
}
.favorites-container p {
  font-size: 1rem;
}
@media only screen and (max-width: 768px) {
  .favorite-svg {
    width: 200px;
    height: 200px;
  }
  .favorites-container h2 {
    font-size: 0.7rem;
  }
  .favorites-container p {
    font-size: 0.6rem;
  }
}

// Coin Details
.coin-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  height: 100%;
  margin-bottom: 1rem;
}
.c-d-config {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  margin-top: 0.5rem;
}
.c-d-n-contain,
.d-c-m-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}
.c-d-text{
  display: flex;
  justify-content: start;
  padding-left: 0.2rem;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1rem;
  width: 300px;
  height: 50px;
  flex-direction: row;
  gap: 0.2rem;
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dark-mode .c-d-text{
  background: rgba(0, 38, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.c-d-heading{
  display: flex;
  justify-content: start;
  padding-left: 0.2rem;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1rem;
  width: 300px;
  height: 50px;
  flex-direction: row;
  gap: 0.2rem;
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.dark-mode .c-d-heading{
  background: rgba(0, 38, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.c-d-desc {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  width: 80%;
  gap: 0.3rem;
}
.c-d-desc h5 {
  font-size: 1.2rem;
}
.c-d-pera {
  width: 80%;
  height: fit-content;
  padding: 0.3rem;
}
.c-d-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  flex-direction: column;
  width: 80%;
}
.c-d-chart-container h5 {
  font-size: 1.2rem;
}
.apexcharts-canvas {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 800px;
  height: 600px;
  background-color: transparent;
}

.of-links {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.of-links h5 {
  width: 100%;
  font-size: 1.5rem;
}
.official-items {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  list-style-type: none;
}
.dark-mode .official-items{
  background: rgba(0, 38, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.offical-links {
  padding: 0.5rem;
}
.offical-links a i {
  font-size: 2rem;
  color: #2e70ff;
}
.offical-links a i:hover {
  color: #719eff;
}
.c-d-img {
  width: 25px;
  height: 25px;
}
.g-b-s {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.c-d-text span {
  font-size: 0.8rem;
}
.g-b-s-t {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .c-d-config {
    width: 100%;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }
  .d-c-m-contain,
  .c-d-n-contain {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  .c-d-desc {
    width: 100%;
    padding: 0.5rem;
  }
  .c-d-desc h5 {
    font-size: 0.9rem;
  }
  .c-d-pera {
    font-size: 0.7rem;
    width: 100%;
  }
  .c-d-chart-container {
    width: 100%;
    padding: 0.5rem;
  }
  .c-d-chart-container h5 {
    font-size: 0.9rem;
  }
  .apexcharts-canvas{
    width: 300px;
    height: 200px;
  }
  .of-links {
    width: 100%;
    padding: 0.5rem;
    gap: 0.3rem;
  }
  .of-links h5 {
    font-size: 0.9rem;
  }
  .offical-links {
    padding: 0.2rem;
  }
  .official-items {
    padding: 0.2rem;
  }
  .offical-links a i {
    font-size: 1.5rem;
  }
}
// Compare Coins
.h-card-contain-c {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coin-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 1rem;
}
.coin-input input {
  font-size: 1rem;
  width: 300px;
  border: none;
  outline: none;
  background-color: #407cff;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
}
.coin-input input::placeholder {
  color: #fff;
  text-transform: capitalize;
}
.coin-input button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.6rem;
  background-color: #407cff;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.coin-input button:hover {
  background-color: #5e91ff;
}
.coin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  align-self: center;
}
.coin {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  width: 300px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.dark-mode .coin{
  background: rgba(0, 38, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.coin h3{
  font-size: 1rem;
}
.coin p{
  font-size: 0.9rem;
}
@media only screen and (max-width: 768px) {
  .h-card-contain-c{
    flex-wrap: wrap;
  }
  .coin-input input{
    font-size: 0.8rem;
    width: fit-content;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .coin-input button{
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 0.7rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.coin-container{
  flex-wrap: wrap;
  gap: 0.5rem;
}

  
}
// Delete all data con and dialog-box confirm
.delete-data-btn{
  border: none;
  outline: none;
  background-color: red;
  padding: 6px 10px;
  color: #f9f9f9;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
}
.delete-data-btn:hover{
  background-color: rgb(255, 97, 97);
}
.confirmation-dialog-overlay{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
  -webkit-backdrop-filter: blur(3.2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: fadeIn 0.3s ease-in-out;
}
.confirmation-dialog{
  width: 500px;
  height: 20vh;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  animation: slideIn 0.3s ease-in-out;
  -webkit-animation: slideIn 0.3s ease-in-out;
}
.confirmation-dialog p{
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bold;
}
.c-f-btn-contain{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.confirm-btn, .cancel-btn{
  border: none;
  outline: none;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #5e91ff;
  color: #f9f9f9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  cursor: pointer;
}
.cancel-btn:hover{
  background-color: #0e5bff;
}
.confirm-btn:hover{
  background-color: #0e5bff;
}
.dark-mode .confirmation-dialog{
  background: rgba(4, 0, 71, 0.72);
  box-shadow: 0 4px 30px rgba(0, 72, 255, 0.1);
  border: 1px solid rgba(0, 6, 189, 0.25);
}
@media only screen and (max-width: 768px) {
  .confirmation-dialog{
    width: 100%;
    height: fit-content;
    margin: 2rem;
    border-radius: 5px;
    gap: 1rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
  .confirmation-dialog p{
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    text-wrap: nowrap;
  }
  .confirm-btn, .cancel-btn{
    padding: 6px 10px;
    font-size: 0.7rem;
  }
  .delete-data-btn{
    font-size: 0.7rem;
  }
  
}

// News
.th-card-contain{
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}
.th-card{
  width: 50%;
  height: 150px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: -1;
}
.dark-mode .th-card{
  background: rgba(0, 38, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.th-card h3{
  font-size: 1.2rem;
}
.th-card p strong{
  font-size: 1rem;
  font-weight: 600;
}
.th-card p{
  font-size: 1rem;
}
.cru-div{
  background: rgba(255, 255, 255, 0.31);
  z-index: 1;
  padding: 20px;
  position: relative;
  grid-column: span 2;
}
.cru-div p strong{
  font-size: 1rem;
}
.cru-div p{
  font-size: 1rem;
}
.slick-prev, .slick-next {
  display: none !important; /* Hide arrows on mobile */
}
.th-rtr{
  font-size: 1.2rem;
  margin: 0.5rem;
}
.th-crs{
  background: rgba(255, 255, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.dark-mode .th-crs{
  background: rgba(0, 38, 255, 0.31);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.cru-cls{
  background: rgba(255, 236, 236, 0.31);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.dark-mode .cru-cls{
  background: rgba(155, 170, 255, 0.374);
  box-shadow: 0 4px 30px rgba(0, 8, 255, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  padding: 1rem;
  border: 1px solid rgba(47, 0, 255, 0.3);
}
.cru-cls img{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .th-card-contain{
    padding: 0.5px;
    margin: 0.5rem;
    flex-wrap: wrap;
  }
  .th-card{
    width: 100%;
  }
  .th-card h3{
    font-size: 0.9rem;
  }
  .th-card p strong{
    font-size: 0.8rem;
  }
  .th-card p{
    font-size: 0.7rem;
  }
  
}